<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <system.net>
      <mailSettings>
        <smtp from="dreamvacation1000@gmail.com">
          <network password="ry1234567" userName="UserName" port="PortNumber"
               defaultCredentials="false" host="HostSMTPAddress"/>
        </smtp>
     </mailSettings>
  </system.net>
</configuration>